@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import "tailwindcss";


@theme {

  /* Colors */
  /* --color-home: #FFFFFF; */
  --color-gray_900: #1A1A1A;
  --color-gray_800: #333333;
  --color-gray_700: #4D4D4D;
  --color-gray_600: #666666;
  --color-gray_500: #808080;
  --color-gray_400: #999999;
  --color-gray_200: #CCCCCC;
  --color-gray_100: #E6E6E6;

  --color-success_207:#00B207;
  --color-success_dark:#2C742F;
  --color-success_error:#EA4B48;
  --color-success_bright:#84D187;
  --color-branding_warm:#FF8A00;

  --color-blue_238: #2388FF;
  --color-white: #FFFFFF;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  

  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 30rem;       /* 480px */
  --breakpoint-sm: 40rem;       /* 640px */
  --breakpoint-md: 48rem;       /* 768px */
  --breakpoint-lg: 64rem;       /* 1024px */
  --breakpoint-xl: 80.625rem;   /* 1290px */

  /* Container */
  --container: 82.5rem;         /* 1320px */
}
body{
  font-family: var(--font-poppins);
}